* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e3e6e6;
}

/* NAVBAR */
.navbar {
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 100px;
}

.nav-center input {
    padding: 8px;
    width: 300px;
}

.nav-center button {
    padding: 8px 15px;
    background: #febd69;
    border: none;
    cursor: pointer;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.nav-right a:hover {
    color: #febd69;
}

/* HERO */
.hero img {
    width: 100%;
    height: 350px;
    /* object-fit: cover; */
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.box {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box h3 {
    margin: 10px 0;
}

.box button {
    background-color: #ffd814;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.box button:hover {
    background-color: #f7ca00;
}

footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 15px;
}
.dark {
    background:#111;
    color:white;
}

.dark .box {
    background:#222;
    color:white;
}

.dark .navbar {
    background:black;
}
@media(max-width:900px){
    .products{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:500px){
    .products{
        grid-template-columns:1fr;
    }
    .nav-center input{
        width:150px;
    }
}